<!-- Footer -->
<footer style="background-color: #181818; color: #F70F62; padding: 20px; text-align: center;">
    <div class="social-icons">
        <a href="https://www.instagram.com" target="_blank" style="color: #F70F62; margin: 0 10px;">
            <i class='bx bxl-instagram'></i>
        </a>
        <a href="https://github.com/EllZzz" target="_blank" style="color: #F70F62; margin: 0 10px;">
            <i class='bx bxl-github'></i>
        </a>
    </div>
    <p>© 2024 Your Company Name. All Rights Reserved.</p>
</footer>
